.topics{
    border: solid 1px rgb(24,40,65);
    border-radius: 21px;
    padding-bottom: 40px;
    padding-top: 25px;
    padding-left: 60px; 
    padding-right: 60px; 
    width: 17%;
    align-items: center;
    background-color: rgb(24,40,65);
    color: white;
    margin-top: 5%;
    font-size: 29px;
    /* margin-left: 55%; */
}
.overviewTopics{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
    /* margin-right: -15%; */
}
.overviewDetails{
    display: flex;
    /* gap: 5%; */
    justify-content: space-evenly;
    text-align: center;
    margin-left: 1.6%;
    font-size: 30px;
    /* width: 80%; */
}
.names{
    text-align: left;
}
.name-heading{
    text-align: center;
}

.sidebar{
    background-color: rgb(24,40,65);
    margin-top: 0;
    padding-bottom: 55px;
    width: 24%;
}
.overview-sidebar{
    color: red;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 33%;

}
.sidebar-texts{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 22%;

}
.courses{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 35%;

}
.logo{
    margin-top: 1%;
    margin-left: 4%;
    width: 150px;
    /* height: 180px; */
    border: solid white;

}
.apex-dashboard{
    display: flex;
}
.overview{
    margin-left: 10%;
}
/* .details{
    margin-left: 25%;
} */
.icon{
    margin-left: 35%;
}